@import "../styles/mixin.scss";
@import "../styles/variables.scss";

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(
    190deg,
    rgb(134, 123, 205) 0%,
    rgb(106, 90, 171) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $black-color;
  overflow: hidden;
}

.App {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 20px;
  color: $white-color;

  text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
}

.addTodos {
  display: flex;
  justify-content: center;
}

.todoInput {
  min-width: 240px;
  width: 40vw;

  max-height: 40px;
  background-color: $white-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  align-self: center;
}
.todoInput:focus {
  outline: none;
  border: 2px solid rgb(67, 58, 168);
}

.addBtn {
  margin-left: 15px;
  background-color: $btn-bcg;
  color: $white-color;
  border-radius: 50%;
  border: 2px solid $white-color;
  font-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 2px 4px 10px $btn-bcg;

 @include displayFlex(0, center, center);
}

.addBtn:focus {
  outline: none;
}

.displayTodos {
  margin-top: 48px;
  display: flex;
  @include displayFlex(column, 0, center);
}

.displayTodos .buttons {
  margin-bottom: 32px;
}

.displayTodos .buttons button {
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.displayTodos .buttons button:focus {
  outline: none;
}

.displayTodos .buttons button:not(:last-child) {
  margin-right: 30px;
}

.displayTodos ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

.completed {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: $background-color;
  border: 2px solid $border-color;
  color: $white-color;

  font-size: 14px;
  padding: 10px 30px;
  border-radius: 20px;
}


